
.btn{
    &,
    &:link,
    &:visited{
        padding: 1rem 4rem;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1.6rem;
        border-radius: 10rem;
        border: none;
        transition: all 0.3s ease-in-out;
        animation: slideUp 1s ease-in-out;
        position: relative;
        @include response(phone){
            padding: 1rem 3rem;
        }
    }
    &-white{
        background-color: $color-white;
        color: $color-grey-dark;
        &::after{
            background-color: $color-white;
        }
    }
    &-green{
        background-color: $color-primary;
        color: $color-white;
        &::after{
            background-color: $color-primary;
        }
    }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 10px 20px rgba($color-dark,0.2);
        &::after{
            transform: scaleX(1.5) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-dark,0.2);
    }
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: 1.6rem;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 0.1rem solid $color-primary;
        padding: 0.3rem;
        transition: all 0.3s;
    }
    &:hover,
    &:focus{
        color: $color-white;
        border-radius: 3px;
        background-color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-dark, .15);
        transform: translateY(-0.2rem);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-dark, .15);
        transform: translateY(0);
    }
}
