.form{
    &-group:not(:last-child){
        margin-bottom: 2rem;
    }

    &-control{
        width: 90%;
        display: block;
        padding: 1.5rem 2rem;
        color: inherit;
        font-family: inherit;
        border-radius: 2px;
        border: none;
        transition: all .3s;
        border-bottom: 3px solid transparent;
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-dark, .1);
            border-bottom: 3px solid $color-primary;
        }
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }
        &::placeholder{
            color: $color-grey-light-2 ;
        }
        &::-webkit-input-placeholder{
            color: $color-grey-light-2 ;
        }
    }
    &-label{
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        margin: .7rem 0 0 2rem;
        transition: all .3s;
    }

    &-control:placeholder-shown + &-label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &-radio-group{
        width: 49%;
        display: inline-block;

    }
    &-radio-control{
        display: none;
    }
    &-radio-label{
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }
    &-radio-btn{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 5px solid $color-primary;
        display: inline-block;
        position: absolute;
        left: 0;
        top:-4px;
        &::after{
            content: '';
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            @include toCenter;
            background-color: $color-primary;
            opacity: 0;
        }
    }
    &-radio-control:checked ~ &-radio-label &-radio-btn::after{
        opacity: 1;
    }
} 

